{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}my meetups {%endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/style/base.css' %}">
    {%block site_css%}{%endblock %}
</head>
<body>
    <header>
        <div>
            <nav><a href="/meetups"><h3>DjangoMeetups</h4></a></nav>
            <h3>{%block main_heading%}{%endblock%} </h3>
            {%block header_content%}{%endblock%}
        </div>
        
    </header>
    <main>
        {%block body%}{%endblock%}
    </main>
</body>
</html>